/*===============================================================================================================
REMOVER DO BOOTSTRAP.CSS
===============================================================================================================*/
fieldset {margin: 15px 15px 15px 15px !important;padding: 10px !important;border:1px solid silver;background-color:#EEEEEE}
legend {font-size: 11px ;color: #525252;border:1px solid silver;background-color:#E0E0E0;padding: 2px;text-transform: uppercase;}

/*===============================================================================================================
RACKS
===============================================================================================================*/
.entry-content img {max-width: 100000%;}
.sidebar-widget ul li, .sidebar-widget ol li{ margin-left: 20px }



#logo h1{position:absolute;left:7px;top:12px;background:url(../images/logo.png) no-repeat;height:94px;margin-left:-4px!important;margin-top:0!important;width:185px;}
#logo2 h1{position:absolute;left:7px;top:12px;background:url(../images/logo2.png) no-repeat;height:94px;margin-left:-4px!important;margin-top:0!important;width:185px;}




/* tag */
span.tags{width:auto;position:relative;cursor:pointer;float:left;margin:5px 5px 0 0;padding:0;font-family: Verdana, Arial, Helvetica, sans-serif !important}

/* subpage index */
.current_page_item a{ color: #000000;  }
.children { padding-left: 15px }

/*===============================================================================================================
SIDEBAR MENU
===============================================================================================================*/
.tab_container2{clear:both;}

.sidebar-archive{position:relative;width:300px;}
.sidebar-archive li{border-top:1px solid #d9d9d9;overflow:hidden; padding: 10px 0 10px 0; }
.sidebar-archive li:first-child{border:none;padding-top:5px}
.sidebar-archive-text{position:relative;width:225px;float:right; margin: -2px 5px 0 5px}
.sidebar-archive-text a{color:#464646;text-decoration:none;font-size:11px ;line-height:1.4em;font-weight:400;}
.sidebar-archive-text p, .sidebar-archive-text p a{font-size:10px;color:#a5a5a5;font-style:italic;font-weight:400;margin:-5px 0 0 0;}
.sidebar-archive-img { float: left; margin: 0 0 0 5px }


/* menu e tabs */
.tabsCell{padding:0 0 15px;}
ul.tabs{float:left;list-style:none;border-bottom:1px solid silver;border-left:1px solid silver;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:11px;margin:0;padding:0;}
ul.tabs li{float:left;border:1px solid silver;border-left:none;overflow:hidden;position:relative;background:#fcfcfc; background-position:left -197px;background-repeat:repeat-x;background-image:url(../images/sprite_bgx.png);margin:0 0 -1px;padding:0;}
ul.tabs li a{text-decoration:none;font-size:113%;display:block;color:#545454;border:1px solid #F9F9F9;border-bottom:none;outline:none;padding:4px 10px 4px 10px;}
ul.tabs li a:hover{color:#000;background-color:#F9F9F9;}
ul.tabs li.active a{font-weight:700;}
ul.tabs li.active a:hover{font-weight:700;}
ul.tabs li.active{background:#F9F9F9;border-bottom:1px solid #F9F9F9;}
.tab_container{clear:both;border:1px solid silver;border-top:none;background:#F9F9F9;}
.tab_container p{clear:both;margin:0; padding: 5px }
.tab_content{border:1px solid #F9F9F9;padding:0; padding-top: 5px}


/* breadcrumb */
ul.breadcrumb2 li{font-size:11px;color:#333;background:url(../images/breadcrumb/bg.png) repeat-x;display:block;float:left;padding:0 0 0 10px;}
ul.breadcrumb2 {background:url('../images/breadcrumb/breadcrumb1.png') no-repeat center right;float:left;width:auto;margin-bottom:10px;padding-right:17px; }
ul.breadcrumb2 li:first-child {border-left:1px solid #d5d5d5}
ul.breadcrumb2 li:last-child a{background:none;color:#7C7C7C;}

ul.breadcrumb2 li a{background:url('../images/breadcrumb/breadcrumb1.png') no-repeat right;display:block;float:left;line-height:28px;text-decoration:none;color:#7C7C7C;padding:0 15px 0 0;}
ul.breadcrumb2 li a:hover,ul.breadcrumb2 li:last-child a:hover{color:#AAA;}
.bradhome {background: url("../images/breadcrumb/home.png") no-repeat 0 0; padding-right: 16px}

#jqticker { display: none;}
#jqticker span { margin-left: 5px; background: transparent !important }

/*===============================================================================================================
WIDGET (ver classes nativas)  http://digwp.com/2010/05/default-wordpress-css-styles-hooks/
===============================================================================================================*/
#wp-calendar{width:100%;}#wp-calendar caption{text-align:right;color:#333;font-size:11px;margin-top:-28px;margin-bottom:10px; text-transform: uppercase;}#wp-calendar thead{font-size:10px;}#wp-calendar thead th{padding-bottom:10px; padding-left: 15px; font-size: 16px; color:#797979 }#wp-calendar tbody{color:#797979;}#wp-calendar tbody td{background:#f5f5f5;border:1px solid #D9D9D9;text-align:center;padding:8px;}#wp-calendar tbody td a{ font-weight: bold;  }#wp-calendar tbody td:hover{background:#fff;}#wp-calendar tbody .pad{background:none;} #wp-calendar tfoot #next{font-size:10px;text-transform:uppercase;text-align:right;}#wp-calendar tfoot #prev{font-size:10px;text-transform:uppercase;padding-top:0;}

.textwidget,#calendar_wrap,.tagcloud {padding: 5px 5px 5px 5px;position:relative;width:302px;border-bottom:1px solid #d9d9d9;border-left:1px solid #d9d9d9;border-right:1px solid #d9d9d9;background:#fff;font-size:1.1em;margin:-10px 0 0 0;  }
.sidebar-widget{position:relative;width:302px;margin:0 0 12px 0;}
.widget-head{border:1px solid #d9d9d9;background:#fcfcfc; background-position:left -197px;background-repeat:repeat-x;background-image:url(../images/sprite_bgx.png);height:100%;line-height:27px;color:#797979;font-size:1.1em;font-weight:700;text-transform:uppercase;margin:0 0 10px;padding:0 10px;}


