/*===============================================================================================================
                                                     SHORTCODES
===============================================================================================================*/
 /*tab toggle
--------------------------------------------------------------  */

 /* htabs ****widget */

 /* vtabs */
.vtabsCell{ margin:0;}
ul.vtabs { margin-left:0 !important; padding:0; width:124px; float: right; list-style:none;margin-top:20px;border-bottom:1px solid silver;border-right:1px solid silver;font-family:Arial, Helvetica, sans-serif;font-size:11px; }
ul.vtabs li {padding:0;	margin:0;list-style-type:none;border:1px solid silver; border-bottom:none; border-right:none;overflow:hidden;position:relative;background:#fcfcfc; background-position:left -197px;background-repeat:repeat-x;background-image:url(../images/sprite_bgx.png);}
ul.vtabs li a {text-decoration:none;font-size:113%;display:block;color:#545454;border:1px solid #F9F9F9;border-bottom:none;outline:none;padding:4px 5px 4px 5px; }
ul.vtabs li a:hover{color:#000;background-color:#F9F9F9;}
ul.vabs li.active a{font-weight:700;}
ul.vabs li.active a:hover{font-weight:700;}
ul.vtabs li.active{background:#F9F9F9; border-left:1px solid #F9F9F9;}
.vtab_container{background:#F9F9F9; padding:0;min-height:250px; margin-right: 124px;border:1px solid silver;background:#F9F9F9;}
.tspace{ padding: 5px }



/*lists
--------------------------------------------------------------  */
.check ul{list-style-image:url('../images/shortcodes/check.png');margin-left:24px;}
.bullets-gray ul{list-style-image:url('../images/shortcodes/bullets-gray.png');margin-left:24px;}
.bullets-black ul{list-style-image:url('../images/shortcodes/bullets-black.png');margin-left:24px;}
.bullets-blue ul{list-style-image:url('../images/shortcodes/bullets-blue.png');margin-left:24px;}
.bullets-red ul{list-style-image:url('../images/shortcodes/bullets-red.png');margin-left:24px;}
.bullets-purple ul{list-style-image:url('../images/shortcodes/bullets-purple.png');margin-left:24px;}
.check li,.bullets-gray li,.bullets-black li,.bullets-blue li,.bullets-red li,.bullets-purple li{padding-bottom:10px;}
.list_green,.list_red,.list_blue,.list_darkgrey,.list_yellow,.list_lamp,.list_check,.list_del,.list_star,.list_raio{padding:8px 0;}
.list_green li{background:url(../images/shortcodes/bullet_green.png) no-repeat left 1px;line-height:20px;margin:0 0 4px;padding:0 0 15px 21px;}
.list_red li{background:url(../images/shortcodes/bullet_red.png) no-repeat left 1px;line-height:20px;margin:0 0 4px;padding:0 0 15px 21px;}
.list_blue li{background:url(../images/shortcodes/bullet_blue.png) no-repeat left 1px;line-height:20px;margin:0 0 4px;padding:0 0 15px 21px;}
.list_darkgrey li{background:url(../images/shortcodes/bullet_darkgrey.png) no-repeat left 1px;line-height:20px;margin:0 0 4px;padding:0 0 15px 21px;}
.list_yellow li{background:url(../images/shortcodes/bullet_yellow.png) no-repeat left 1px;line-height:20px;margin:0 0 4px;padding:0 0 15px 21px;}
.list_lamp li{background:url(../images/shortcodes/lamp.png) no-repeat left 2px;line-height:20px;margin:0 0 4px;padding:0 0 15px 21px;}
.list_check li{background:url(../images/shortcodes/check.png) no-repeat left 5px;line-height:20px;margin:0 0 4px;padding:0 0 15px 21px;}
.list_del li{background:url(../images/shortcodes/del.png) no-repeat left 4px;line-height:20px;margin:0 0 4px;padding:0 0 15px 21px;}
.list_star li{background:url(../images/shortcodes/bullet_star.png) no-repeat left 1px;line-height:20px;margin:0 0 4px;padding:0 0 15px 21px;}
.list_conf li{background:url(../images/shortcodes/fig5.png) no-repeat left 1px;line-height:20px;margin:0 0 4px;padding:0 0 15px 21px;}

/*columns
--------------------------------------------------------------  */
.column2{width:48.1%;float:left;margin-right:3.8%;margin-bottom:20px;}
.column2_last{width:47.57%;float:right;margin-bottom:20px;}
.column3{width:30.8%;float:left;margin-right:3.8%;margin-bottom:20px;}
.column3_last{width:30.45%;float:right;margin-bottom:20px;}
.column4{width:22.13%;float:left;margin-right:3.8%;margin-bottom:20px;}
.column4_last{width:22.13%;float:right;margin-bottom:20px;}
.column5{width:16.96%;float:left;margin-right:3.8%;margin-bottom:20px;}
.column5_last{width:15.7%;float:right;margin-bottom:20px;}

/* box shortcodes
--------------------------------------------------------------  */
.box-shortcode{color:#666;font-family:'Lucida Grande', Verdana, Arial, Sans-Serif;font-size:12px !important;margin:5px 0;padding:10px;}
.box-shortcode a:hover{text-decoration:underline !important;}
.box-red{background-color:#FFB8B8;border:1px solid #FF8C8C;color:#BF2F2F;background-image:url('../images/shortcodes/error2.png');}
.box-red a{color:#BF2F2F !important;font-weight:700;}
.box-yellow{background-color:#FFC;border:1px solid #FC6;color:#960;background-image:url('../images/shortcodes/warning.png');}
.box-yellow a{color:#960 !important;font-weight:700;}
.box-green{background-color:#CF9;border:1px solid #9C0;color:#360;background-image:url('../images/shortcodes/success.png');}
.box-green a{color:#360 !important;font-weight:700;}
.box-blue{background-color:#D1F2F5;border:1px solid #AFDEE2;color:#38878E;background-image:url('../images/shortcodes/info.png');}
.box-blue a{color:#38878E !important;font-weight:700;}
.box-blue,.box-green,.box-yellow,.box-red{background-position:10px center;background-repeat:no-repeat;margin:15px 10px;padding:15px 10px 15px 45px;}

/* Nota
--------------------------------------------------------------  */
#feedback{position:relative;background:url("../images/shortcodes/note-top.png") no-repeat 0 0 transparent;color:#766958;font-family:Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;float:left;padding:46px 15px 0 0;}
#feedback span{background:url(../images/shortcodes/quotes-1.png);background-position:0 2px;background-repeat:no-repeat;padding-left:22px;margin:0;}
#feedback p{display:inline;padding-right:22px;background:url(../images/shortcodes/quotes-2.png);background-position:bottom right;background-repeat:no-repeat;margin:0;}
.feedback-bottom{background:url("../images/shortcodes/note-bottom.png") no-repeat 0 0 transparent;margin:0;padding:0 0 35px;}
.quotes{background:url("../images/shortcodes/note-line-item.png") repeat-y 0 0 transparent;width:285px;padding:0;}
.quote{padding:0 5px 0 30px;}

/*highlights
--------------------------------------------------------------  */
.highlight_yellow, .highlight_black, .highlight_green, .highlight_blue, .highlight_red, .highlight_gray {font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace; border-radius:4px;padding:0 5px;  }

.highlight_yellow{background-color:#FF0;color:#000;height:20px;border:1px solid #f0f000;}
.highlight_black{background-color:#000;color:#fff;height:20px;border:1px solid #000;}
.highlight_green{background-color:#090;color:#fff;height:20px;border:1px solid #006e00;}
.highlight_blue{background-color:#1b98da;color:#fff;height:20px;border:1px solid #0074aa;}
.highlight_red{background-color:#c80000;color:#fff;height:20px;border:1px solid #890101;}
.highlight_gray{background-color:#e6e4e4;color:#000;height:20px;border:1px solid #d4d4d4;}



/*buttons
--------------------------------------------------------------  */
.buttonblue,.btn-shortcode:active,.btn-shortcode:hover,.btn-shortcode{color:#FFF !important}.btn-shortcode{display:inline-block;margin:0 2px 5px;outline:none;cursor:pointer;text-align:center;padding:0 20px;height:35px;line-height:35px;text-shadow:0 1px 2px;border-radius:5px;box-shadow:0 1px 2px rgba(0,0,0,.2)}.btn-shortcode:hover,.btn-shortcode{text-decoration:none}.btn-shortcode:active{position:relative;top:1px}.buttonblack{color:#d7d7d7 !important;border:solid 1px #333;background:#333;}.buttonblack:hover{background:#000;}.buttonblack:active{color:#666;}.buttonorange{color:#fef4e9;border:solid 1px #da7c0c;background:#f78d1d;}.buttonorange:hover{background:#f47c20;}.buttonorange:active{color:#fcd3a5;}.buttonred{color:#faddde !important;border:solid 1px #980c10;background:#d81b21;}.buttonred:hover{background:#b61318;}.buttonred:active{color:#de898c !important;}.buttonblue{border:solid 1px #0076a3;background:#0095cd;}.buttonblue:hover{background:#007ead !important;}.buttonblue:active{color:#80bed6 !important;}
 /* green */
.buttongreen {color:#e8f0de !important;border:solid 1px #538312;background:#64991e;}
.buttongreen:hover {background:#538018;}
.buttongreen:active {color:#a9c08c !important;}